@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    .portrait {
      width: 150px;
      height: 150px;
    }
  }
  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
  h1,
  h2,
  h3 {
    &.lg-heading {
      font-size: 4rem;
    }
    &.sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
    }
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .boxes {
    div {
      font-size: 1.2rem;
      padding: 1rem 2rem;
    }
  }
}
